<section class="slider">
    <div>
      <!-- Indicators -->
  
  
      <!-- Wrapper for slides -->
      <div class="">
        <div class="item active">
          <img src="../assets/img/event-banner.jpg" alt="Chania" class="img-responsive">
          <div class="carousel-caption text-center">
            <div class="center-pic">
              <img src="../assets/img/center-img.png">
            </div>
            <h3>Lorem ipsum event</h3>
  
          </div>
        </div>
      </div>
  
      <!-- Left and right controls -->
  
    </div>
  </section>
  <section class="price-section">
    <div class="container">
      <div class="price-outer">
        <div class="row">
          <div class="col-md-12">
            <div class="price-inner text-center" ng-app="">
                <div class="row">
                    <div class="col-md-5 col-md-offset-4">
              <h4 class="ft-bold">SESSIONS AVAILABLE</h4>
              </div>
              </div>
              <div class="row">
                  <div class="col-md-5 col-md-offset-4">
                <div class="form-inner" *ngFor="let session of detailData.event.session;let i = index">
                  <label class="mx-wd text-left"><input type="checkbox"  (change)="sessionClicked($event,'true'); "  (click)= "getIndex(i)" > {{session.title}}</label>
              <span class="pink-clr ft-bold mr-l" >${{session.ticket_price}}</span>
        
                </div>
              </div>
              </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-4">
                <div class="form-inner full-event">
                  
                  <label class="mx-wd text-left"><input type="checkbox" checked='full_eventChecked' (change)="fullEventClicked($event,'true')"><span class="pink-clr">FULL
                      EVENT</span> </label>
                  <span class="pink-clr ft-bold mr-l">${{detailData.event.ticket_price}}</span>
                </div>
              </div>
              </div>
              <div class="row">
                  <div class="col-md-5 col-md-offset-4">
                <div class="form-inline form-group text-right">
                  <label for="tickets">NO. OF TICKETS &nbsp; </label>
                  <input type="number" name="tickets" min="1" max="10" class="form-control" id="tickets" (click)="onKey($event)" >
                </div>
              </div>
              </div>
              <div class="row" *ngFor="let ticketsNo of item">
                <div class="col-md-5 col-md-offset-4 col-sm-12 col-xs-12">
                  <form class="form-inline custom-form">
                    <div class="form-group">
                      <input type="name" class="form-control" id="name" placeholder="Name"  required=true>
                    </div>
  
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" placeholder="Email"  required=true>
                    </div>
                    <div class="col-md-5 col-md-offset-4 col-sm-5 col-xs-12  text-center">
                      <a href="javascript:;" class="btn btn-primary pink-btn" role="button">Click</a>
                    </div>
                    
  
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-md-offset-4 col-sm-5 col-xs-12">
                  <p class="ft-bold amount">TOTAL AMOUNT <span class="pink-clr mr-l">{{totalamount}}</span></p>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-5 col-md-offset-4 col-sm-5 col-xs-12  text-center">
                  <a href="javascript:;" class="btn btn-primary pink-btn" role="button">BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  
  