<section class="slider">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->


      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <img src="../assets/img/slider1.jpg" alt="Chania" class="img-responsive">
              <div class="carousel-caption text-center">
                  <div class="center-pic">
                      <img  src="../assets/img/center-img.png">
                  </div>
                  <h3>Lorem ipsum event</h3>

              </div>
          </div>
      </div>

      <!-- Left and right controls -->

  </div>
</section>
<section  class="about-section text-center outer-section">
  <div class="container">
      <div class="inner-section">
          <div class="row">
              <div class="col-md-5 inner-side-img">
                  <img class="img-responsive" src="../assets/img/side-img.jpg">
              </div>
              <div class="col-md-7"> 
                  <div class="inner-content">
                      <h2>Lorem Ipsum</h2>
                      <h5>loremIpsum@gmail.com</h5>
                      <p>A smart software to manage all aspects of your conferences using latest technology like Big Data analysis, Artificial Intelligence, BLE devices and various other Sensors. From creating branded conference websites to detailed registration forms. From building delegate agendas to managing online payments. From badges and barcode scanning to in-depth analysis on attendance and revenue. </p>
                      <p>Conference planning is stressful enough, with a variety of challenges that impact your planning efforts. </p>

                  </div>
              </div>
          </div>
          <img src="../assets/img/pink-border.png" class="img-responsive about-border">
      </div>
  </div>
</section>

 <section class="event-list">
  <div class="container">
      <div class="event-outer"style="height:550px">
          <div class="event-heading">
              <h2>Events List</h2>
          </div>
          <div class="row"  >
              <div class="col-sm-6 col-md-4" *ngFor="let event of res.event_list" >
                  <div class="thumbnail">
                      <img class="img-responsive" src="{{event.eventImage}}" alt="..."  >
                      <div class="caption">
                          <h3>{{event.title}}</h3>
                          <ul>
                              <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span> {{convertToUtcDate(event.start_date_time)}}</li>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> {{convertToUtcTime(event.start_date_time)}}</li>
                              <li style="overflow: hidden; white-space: nowrap; 
                                text-overflow: ellipsis; "><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> {{event.location_name}}</li>
                          </ul>
                          <p>{{event.description}}</p>
                          <p><a href="javascript:;" class="btn btn-primary pink-btn" role="button" routerLink = '/eventdetail/:{{event.event_id}}'>Details</a> </p>
                      </div>
                  </div>
              </div>  
          </div>
      </div>
  </div>
</section> 

